<ion-content>
  <div [ngStyle]="{'background-image': 'url(' + background + ')'}" class="background"></div>
  <div *ngIf="showLoading" class="loading"><img src="assets/img/loading.gif"></div>
    
  <div class="box-content">
    <div class="box-background"></div>
  </div>

	<div class="box-escolha" *ngIf="!showLoading">
      <ion-list class="lista">
        <img src="assets/img/icon.png" class="logo">
        <ion-item class="item">
          <ion-label>Escolha sua cidade</ion-label>
          <ion-select [(ngModel)]="selectedItem" (ionChange)="selecionacidade($event, selectedItem)">
            <ion-option *ngFor="let items of item" (click)="viewItem(items.idCidade)" value="{{items.idCidade}}">{{items.nomeCidade}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
