page-home {
  .linhas {
    background: white;
    width: 94vw;
    margin-left: 3vw;
    padding: 2vh;
    border: 0.5vh solid #3d99c2;
    border-radius: 10px;
    color: #3d99c2;
    font-size: 3vh;
    margin-top: 2vh;
  }
  .label-md {
    margin: 0px;
  }
	.toolbar-background {
	    background-color: #4565a6;
	}
	.toolbar-title {
		color: white;
	}
	.favorite-star {
	  font-size: 1.3em;
	}
  .troca-linha {
    position: absolute;
    color: white;
    font-size: 150%;
    margin-left: 2%;
  }
  .busam {
    text-align: center;
    width: 60%;
    margin-left: 20%;
  }
  .content {
    padding: 0px;
  }
  .background {
    background: white;
  }
  .col {
    display: flex !important;
    padding:0px;
    .botao {
      background: rgba(255, 255, 255, 0.8);
      .texto {
        font-size: 1em;
        width: 100%;
        cursor: pointer;
        word-break: normal;
        white-space: normal;
      }
    }
  }
  .estrela {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
}
