<ion-header >
  <ion-navbar hideBackButton >
    <div class="troca-linha" (click)="backStart()">
      <ion-icon name="swap"></ion-icon>
    </div>
    <ion-title class="busam">BusAM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <div class="background"></div>
  <div *ngIf="item && item.length > 0">
    <ion-searchbar [(ngModel)]='searchBarItem' (ionInput)="getLinhas($event)" placeholder="pesquise linha..."></ion-searchbar>
    <ion-card *ngFor="let items of item" (click)="viewItem(items)">
      <ion-row>
        <ion-col width-90 class="col">
          <button ion-item class="botao" width-90>
            <div class="texto">{{items.numeroLinha}} - {{items.nomeLinha}}</div>
          </button>
        </ion-col>
        <ion-col width-10 class="estrela">
          <ion-icon [color]="items.favorita? 'yellow' :'#000'" [name]="items.favorita? 'star' :'star-outline'" yellow class="favorite-star" ion-stop-event (click)="favoritar($event, items)" width-10></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- <button ion-button (click)="viewFavoritos()">MEUS HORÁRIOS</button> -->
  </div>
</ion-content>
