page-home {
  .linhas {
    background: white;
    width: 94vw;
    margin-left: 3vw;
    padding: 2vh 0vh 2vh 2vh;
    border-top: 0.1vh solid #000000;
    display: flex;
    align-items: center;
  }
  .label-md {
    margin: 0px;
  }
	.toolbar-background {
	    background-color: #3d99c2;
	}
	.toolbar-title {
		color: white;
	}
	.favorite-star {
	  font-size: 1.7em;
    margin-left: 1.4vh;
	}
  .troca-linha {
    position: absolute;
    color: white;
    font-size: 150%;
    margin-left: 2%;
  }

  .ver-alarmes {
    position: absolute;
    right: 15px;
    color: white;
    top: 12px;
    font-size: 30px;
  }

  .busam {
    text-align: center;
    width: 60%;
    margin-left: 20%;
  }
  .content {
    padding: 0px;
  }
  .background {
    background: white;
  }
  .col {
    display: flex !important;
    padding:0px;
    .botao {
      background: rgba(255, 255, 255, 0.8);
      .texto {
        font-size: 1em;
        width: 100%;
        cursor: pointer;
        word-break: normal;
        white-space: normal;
      }
    }
  }
  .estrela {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
}
