<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="titulo-header">Linha {{number}} - {{description}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content overflow-scroll="false">
  <img src="assets/img/fundo.png" class="predios">
  <div *ngIf="finishedLoading" class="show-content">


    <div *ngIf="!horario">
      <div *ngFor="let items of ruas" (click)="viewItem(items)" text-wrap class="itinerario">
        <div style="width: 69vw;float: left;">{{items.ruaItinerario}}</div>
      </div>
      <div (click)="showHorarios()" *ngIf="itinerarioTem" class="botao-mostrar">Mostrar Horários</div>
    </div>

    <div *ngIf="horario">
      <div class="box-divisao">
        <ion-row>
          <ion-col width-33>
            <div id="sabado" (click)="mostrasabado()" class="dia-semana"
                 [ngStyle]="{'background-color': backgroundsabado, 'color': colorsabado}">Sábado
            </div>
          </ion-col>
          <ion-col width-33>
            <div id="semana" (click)="mostrasemana()" class="dia-semana"
                 [ngStyle]="{'background-color': backgroundsemana, 'color': colorsemana}">Seg-Sex
            </div>
          </ion-col>
          <ion-col width-33>
            <div id="domingo" (click)="mostradomingo()" class="dia-semana"
                 [ngStyle]="{'background-color': backgrounddomingo, 'color': colordomingo}">Domingo
            </div>
          </ion-col>
        </ion-row></div>
      <!-- OBSERVACAO DA LINHA-->
      <div *ngIf="obs && obsLinha" class="observacao">{{obsLinha}}</div>

      <div *ngIf="ida" class="box-horarios">
        <div *ngIf="aparecesegsex">
          <ion-row wrap *ngIf="diariamente">
            <div class="proximo-horario">Próximo Horário - {{horarioDiariamente}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of diariamente" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDiariamente" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDiariamente" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row wrap *ngIf="segsex">
            <div class="proximo-horario">Próximo Horário - {{horarioSegsex}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of segsex" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSegsex" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSegsex" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </div>


        <div *ngIf="aparecesab">
          <ion-row wrap *ngIf="diariamente">
            <div class="proximo-horario">Próximo Horário - {{horarioDiariamente}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of diariamente" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDiariamente" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDiariamente" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="sabado">
            <div class="proximo-horario">Próximo Horário - {{horarioSab}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of sabado" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSab" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSab" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
             </ion-col>
          </ion-row>

          <ion-row wrap *ngIf="segsab">
            <div class="proximo-horario">Próximo Horário - {{horarioSegsab}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of segsab" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSegsab" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSegsab" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="sabdom">
            <div class="proximo-horario">Próximo Horário - {{horarioSabdom}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of sabdom" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSabdom" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSabdom" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="aparecedom">
          <ion-row wrap *ngIf="diariamente">
            <div class="proximo-horario">Próximo Horário - {{horarioDiariamente}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of diariamente" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDiariamente" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDiariamente" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="domingo">
            <div class="proximo-horario">Próximo Horário - {{horarioDom}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of domingo" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDom" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDom" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="sabdom">
            <div class="proximo-horario">Próximo Horário - {{horarioSabdom}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of sabdom" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSabdom" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSabdom" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div *ngIf="volta" class="box-horarios">
        <div *ngIf="aparecesegsexvolta">
          <ion-row wrap *ngIf="diariamenteVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioDiariamenteVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of diariamenteVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDiariamenteVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDiariamenteVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="segsexVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioSegsexVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of segsexVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSegsexVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSegsexVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="segsabVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioSegsabVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of segsabVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSegsabVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSegsabVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="aparecesabvolta">
          <ion-row wrap *ngIf="diariamenteVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioDiariamenteVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of diariamenteVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDiariamenteVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDiariamenteVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="sabadoVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioSabVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of sabadoVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSabVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSabVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="segsabVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioSegsabVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of segsabVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSegsabVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSegsabVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="sabdomVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioSabdomVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of sabdomVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSabdomVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSabdomVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="aparecedomvolta">
          <ion-row wrap *ngIf="diariamenteVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioDiariamenteVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of diariamenteVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=diariamenteVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==diariamenteVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="domingoVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioDomVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of domingoVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioDomVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioDomVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row wrap *ngIf="sabdomVolta">
            <div class="proximo-horario">Próximo Horário - {{horarioSabdomVolta}}</div>
            <ion-col class="horarios" width-25 *ngFor="let items of sabdomVolta" (click)="openMenu(items)">
              <div [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
                <div *ngIf="items.txtHorario.replace(':','h')!=horarioSabdomVolta" class="horario">{{items.txtHorario}}</div>
                <div *ngIf="items.txtHorario.replace(':','h')==horarioSabdomVolta" class="proximo">{{items.txtHorario}}</div>
              </div>
              <ion-icon [color]="items.favorito? 'secondary' :'danger'" class="horario-alarm" name="information-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </div></div>

      <ion-card padding *ngIf="obs">
        <div style="text-align: center;">LEGENDA</div>
        <div *ngFor="let items of obs" style="float: left;margin-right: 10px;">
          <div style="padding: 5px;" [ngStyle]="{'border-top': 'solid ' + items.corObservacao}">
            <div class="proximo-horario">Próximo Horário - {{items.txtObservacao}}</div>
          </div>
        </div>
      </ion-card>
      <div (click)="showItinerario()" *ngIf="itinerarioTem" class="botao-mostrar">Mostrar Itinerários</div>
    </div>
  </div>


  <div *ngIf="temvolta" style="position: fixed;bottom: 0;width: 100%;color: white;padding: 5px;background: #3d99c2">
    <div id="sentidoida" (click)="sentidoida()"
         style="width: 50%;float: left;text-align: -webkit-center;font-weight: bolder;font-size: 1.5em;background: #4565a6;"
         [ngStyle]="{'background-color': backgroundida, 'color': colorida}">Sentido Ida
    </div>
    <div id="sentidovolta" (click)="sentidovolta()"
         style="width: 50%;float: left;text-align: -webkit-center;font-weight: bolder;font-size: 1.5em;color: #3d99c2;background:white"
         [ngStyle]="{'background-color': backgroundvolta, 'color': colorvolta}">Sentido Volta
    </div>
  </div>
</ion-content>
