page-linhas {

  .titulo-header {
    font-size: 1em;
    line-height: 1em;
    width: 100%;
    height: 60px;
    cursor: pointer;
    word-break: normal;
    white-space: normal;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .predios {
    width: 100%;
    background: #4565a6;
  }

  .box-divisao {
    color: white;
    padding: 5px;
    z-index: 100000;
    background: #4565a6;
    height: 40px;
    margin-bottom: 15px;
    -moz-box-shadow: 10px 10px 5px #222;
    -webkit-box-shadow: 10px 10px 5px #222;
    box-shadow: 3px 3px 5px #222;
    .dia-semana {
      border-radius: 5px;
      width: 33%;
      float: left;
      text-align: -webkit-center;
      font-weight: bolder;
      font-size: 1.5em;
      color: #4565a6;
      background:white;
    }
  }

  .show-loading {
    text-align: center;
    margin-top: 60%;
  }

  .show-content {
    margin-bottom: 10%;
    padding: 10px;
    margin-top: -15%;
    position: relative;
  }

  .box-horarios {
    .horarios {
      text-align: center;
    }
    .horario {
      padding: 3px;
      box-shadow: 1px 1px 5px #222;
    }
  }


  .observacao {
    background: #feff9e;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1.2em;
    box-shadow: 3px 3px 5px #222;
  }

  .toolbar-background {
      background-color: #4565a6;
  }
  .toolbar-title, .back-button{
    color: white;
  }

  #itinerario{
    display: none;
  }

  .aparecer{
    width: 100%;
      height: 40px;
      background: #3f51b5;
      color: white;
      font-size: 20px;
  }

  .ruas{
    margin: 0;
    padding: 0;
    height: 35px;
    border-bottom: solid 1px;
  }

  .toolbar-background toolbar-background-md {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }

  .header-md::after{
    height: 0px;
  }

  .scroll-bar-indicator{
    display: none;
  }
}

.horario-alarm {
  position: absolute;
  margin-top: -30px;
  margin-left: 25px;
}
