page-linhas {
	.toolbar-background {
	    background-color: #3F51B5;
	}
	.toolbar-title, .back-button{
		color: white;
	}

	#itinerario{
		display: none;
	}

	.aparecer{
		width: 100%;
	    height: 40px;
	    background: #3f51b5;
	    color: white;
	    font-size: 20px;
	}

  .ruas{
    margin: 0;
    padding: 0;
    height: 35px;
    border-bottom: solid 1px;
  }
}
