:host {
  z-index: 5;
}

.curtain {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.5;
  z-index: 6;
}

.loading-container {
  left: 50%;
  position: absolute;
  margin-left: -100px;
  top: 50%;
  padding: 10px;
  border-radius: 30px;
  margin-top: -100px;
  background: #a5c3bb;
  z-index: 7;

  .loading-image {
    width: 200px;
    height: 200px;
    background-size: 100%;
    overflow: hidden;
  }

  .loading-text {
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'Fredoka One', cursive;
  }
}


